<launch>
      <!-- Set arguments -->
      <arg name="init_pose"/>
      <arg name="robot_name"/>

      <!-- Load robot description -->
      <param name="robot_description" command="$(find xacro)/xacro $(find rrbot_description)/urdf/rrbot.xacro" />

      <!-- Spwan a robot into Gazebo -->
      <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" output="screen" args="$(arg init_pose) -urdf -model $(arg robot_name) -param robot_description" respawn="false"/>

</launch>
