<launch>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>
    <!-- BEGIN ROBOT 1 -->
    <group ns="robot1">
        <include file="$(find robot)/launch/one_robot.launch">
            <arg name="init_pose" value="-x 0 -y 0 -z 0 -Y 3.14"/>
            <arg name="x" value="0"/>
            <arg name="y" value="0"/>
            <arg name="ang" value="180"/>
            <arg name="robot_name" value="robot1"/>
        </include>
    </group>

    <!-- BEGIN ROBOT 2 -->
    <group ns="robot2">
        <include file="$(find robot)/launch/one_robot.launch">
            <arg name="init_pose" value="-x 0 -y 5 -z 0 -Y 0"/>
            <arg name="x" value="0"/>
            <arg name="y" value="5"/>
            <arg name="ang" value="0"/>
            <arg name="robot_name" value="robot2"/>
        </include>
    </group>

    <group ns="robot3">
        <include file="$(find robot)/launch/one_robot.launch">
            <arg name="init_pose" value="-x 5 -y 0 -z 0 -Y 1.57"/>
            <arg name="x" value="5"/>
            <arg name="y" value="0"/>
            <arg name="ang" value="90"/>
            <arg name="robot_name" value="robot3"/>
        </include>
    </group>

    <group ns="robot4">
        <include file="$(find robot)/launch/one_robot.launch">
            <arg name="init_pose" value="-x 0 -y 10 -z 0 -Y 0"/>
            <arg name="x" value="0"/>
            <arg name="y" value="10"/>
            <arg name="ang" value="0"/>
            <arg name="robot_name" value="robot4"/>
        </include>
    </group>

    <group ns="robot5">
        <include file="$(find robot)/launch/one_robot.launch">
            <arg name="init_pose" value="-x 10 -y 0 -z 0 -Y -1.57"/>
            <arg name="x" value="10"/>
            <arg name="y" value="0"/>
            <arg name="ang" value="-90"/>
            <arg name="robot_name" value="robot5"/>
        </include>
    </group>
    

</launch>
