<launch>

<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ssapang_map)/worlds/ssapang_center.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <!-- BEGIN BURGER -->

  <node pkg='ssapang' type='tower' name='tower' output='screen' />
  <node pkg='ssapang' type='task_pub' name='task_pub' output='screen' />

  <group ns="burger1">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -1.5 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger1"/>
          <arg name="start" value="LB1112"/>
      </include>
  </group>

  <group ns="burger2">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -1.8 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger2"/>
          <arg name="start" value="LB1122"/>
      </include>
  </group>

  <group ns="burger3">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -2.1 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger3"/>
          <arg name="start" value="LB1132"/>
      </include>
  </group>
  <group ns="burger4">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -2.4 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger4"/>
          <arg name="start" value="LB1142"/>
      </include>
  </group>
  <group ns="burger5">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -2.7 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger5"/>
          <arg name="start" value="LB1152"/>
      </include>
  </group>
  
  <group ns="burger6">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -5.5 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger6"/>
          <arg name="start" value="LB2112"/>
      </include>
  </group>
  <group ns="burger7">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -5.8 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger7"/>
          <arg name="start" value="LB2122"/>
      </include>
  </group>
  <group ns="burger8">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -6.1 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger8"/>
          <arg name="start" value="LB2132"/>
      </include>
  </group>
  <group ns="burger9">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -6.4 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger9"/>
          <arg name="start" value="LB2142"/>
      </include>
  </group>
  <group ns="burger10">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -6.7 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger10"/>
          <arg name="start" value="LB2152"/>
      </include>
  </group>

  <!-- <group ns="burger11">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -9.5 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger11"/>
          <arg name="start" value="LB3112"/>
      </include>
  </group>
  <group ns="burger12">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -9.8 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger12"/>
          <arg name="start" value="LB3122"/>
      </include>
  </group>
  <group ns="burger13">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -10.1 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger13"/>
          <arg name="start" value="LB3132"/>
      </include>
  </group>
  <group ns="burger14">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -10.4 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger14"/>
          <arg name="start" value="LB3142"/>
      </include>
  </group>
  <group ns="burger15">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x -11.5 -y -10.7 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger15"/>
          <arg name="start" value="LB3152"/>
      </include>
  </group> -->


   
  <!-- <group ns="burger31">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -1.5 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger31"/>
          <arg name="start" value="RB1112"/>
      </include>
  </group>
  <group ns="burger32">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -1.8 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger32"/>
          <arg name="start" value="RB1122"/>
      </include>
  </group>
  <group ns="burger33">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -2.1 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger33"/>
          <arg name="start" value="RB1132"/>
      </include>
  </group>
  <group ns="burger34">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -2.4 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger34"/>
          <arg name="start" value="RB1142"/>
      </include>
  </group>
  <group ns="burger35">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -2.7 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger35"/>
          <arg name="start" value="RB1152"/>
      </include>
  </group>
  <group ns="burger36">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -3 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger36"/>
          <arg name="start" value="RB1212"/>
      </include>
  </group>
  <group ns="burger37">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -3.3 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger37"/>
          <arg name="start" value="RB1222"/>
      </include>
  </group>
  <group ns="burger38">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -3.6 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger38"/>
          <arg name="start" value="RB1232"/>
      </include>
  </group>
  <group ns="burger39">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -3.9 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger39"/>
          <arg name="start" value="RB1242"/>
      </include>
  </group>
  <group ns="burger40">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -4.2 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger40"/>
          <arg name="start" value="RB1252"/>
      </include>
  </group>
  <group ns="burger41">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -5.5 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger41"/>
          <arg name="start" value="RB2112"/>
      </include>
  </group>
  <group ns="burger42">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -5.8 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger42"/>
          <arg name="start" value="RB2122"/>
      </include>
  </group>
  <group ns="burger43">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -6.1 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger43"/>
          <arg name="start" value="RB2132"/>
      </include>
  </group>
  <group ns="burger44">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -6.4 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger44"/>
          <arg name="start" value="RB2142"/>
      </include>
  </group>
  <group ns="burger45">
      <include file="$(find ssabot)/launch/burger_spawn.launch">
          <arg name="init_pose" value="-x 11.5 -y -6.7 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="burger45"/>
          <arg name="start" value="RB2152"/>
      </include>
  </group> -->

 <!-- BEGIN WAFFLE -->
  <!-- <group ns="waffle1">
      <include file="$(find ssabot)/launch/waffle_spawn.launch">
          <arg name="init_pose" value="-x -1 -y 1 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="waffle1"/>
      </include>
  </group>

  <group ns="waffle2">
      <include file="$(find ssabot)/launch/waffle_spawn.launch">
          <arg name="init_pose" value="-x -3 -y 1 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="waffle2"/>
      </include>
  </group>

  <group ns="waffle3">
      <include file="$(find ssabot)/launch/waffle_spawn.launch">
          <arg name="init_pose" value="-x -5 -y 1 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="waffle3"/>
      </include>
  </group> -->

 <!-- BEGIN RRBOT -->
  <!-- <group ns="rrbot1">
      <include file="$(find ssabot)/launch/rrbot_spawn.launch">
          <arg name="init_pose" value="-x 2 -y -3 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="rrbot1"/>
      </include>
  </group>

  <group ns="rrbot2">
      <include file="$(find ssabot)/launch/rrbot_spawn.launch">
          <arg name="init_pose" value="-x 5 -y -3 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="rrbot2"/>
      </include>
  </group>

  <group ns="rrbot3">
      <include file="$(find ssabot)/launch/rrbot_spawn.launch">
          <arg name="init_pose" value="-x 2 -y -7 -z 0 -Y 3.14"/>
          <arg name="robot_name" value="rrbot3"/>
      </include>
  </group> -->

  

</launch>
