 
  # Publish all joint states -----------------------------------
  joint_state_controller:
    type: joint_state_controller/JointStateController
    publish_rate: 50  

  # Position Controllers ---------------------------------------
  # joint1_position_controller:
  #   type: effort_controllers/JointPositionController
  #   joint: piston_joint2
  #   pid: {p: 1000, i: 0, d: 0}
    
  # waffle_piston
  waffle_piston_controller:
    type: position_controllers/JointPositionController
    joint: piston_joint2
    pid: {p: 100.0, i: 0.01, d: 10.0}
