<launch>  
<!--Lifting tray controller-->
  <rosparam file="$(find control)/config/dump_config.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/burger" args="joint_state_controller 
                                         dump_joint_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/burger/joint_states" />
  </node>
  <!--End lifting tray controller-->

  <!-- Load joint controller configurations from YAML file to parameter server -->
</launch>
